@import 'libs/vars';

.sect {

	margin-bottom: 40%;
}

.grid {

	margin-bottom: 10%;
	min-height: 300px;

	.grid-sizer,
	.tech {

		width: 20%;

		img {
			border-radius: 5px;
			width: 100%;
			height: auto;
			display: block;
			padding: 5px;
		}
	}

	.x0 {
		width: 10%;
	}

	.x1 {
		width: 20%;
	}

	.x2 {
		width: 40%;
	}
}
