@import 'libs/vars';

.grid {

	margin-bottom: 10%;

	.grid-sizer,
	.tech
	{
		border: 1px solid red;
		width: 20%;
		// width: 100%;
		// height: auto;
		// height: 100px;
		margin: 5px;
	  // float: left;

		img {
			border: 1px solid blue;
			border-radius: 5px;
			width: 100%;
			height: auto;
			display: block;
			// width: 90%;
			// height: auto;
		}
	}

	.x1 {
		width: 10%;
	}

	.x2 {
		width: 30%;
	}

	.x3 {
		width: 50%;
	}

	.x4 {
		width: 100%;
	}
}
